{% extends 'base.html' %}

{% block stylecontent %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Slabo+27px');

    body {
        background-color: #D8F0F7;
    }

    h2 {
        font-family: 'Slabo 27px';
        border-bottom: 1px solid black;
        font-weight: 900;
    }

    form ul {
        list-style: none;
    }
</style>


<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block bodycontent %}
<div class="container ">
    <h2 class="container text-center">Create New Account</h2>
    <h6 class="text-center"><em>(All details are mandatory)</em></h6>
    <br>
    <form style="padding-left:25%" class="form w-75 " action="/accounts/register/" method="post">
        {% csrf_token %}
        <h4>Enter basic details</h4>
        <section style="background-color: #FAFCFC;" class="form-control ">
            {{ form.as_ul }}
        </section>
        <br>
        <input type="submit" class="position-relative start-50 translate-middle btn btn-outline-primary " value="Next"
            name="submit" />
    </form>
</div>
{% endblock %}

{% block scriptcontent %}
<script>
    $(".active").removeClass("active");
    $("#nav-create").addClass("active");

    $(".helptext").html("");

    var input_text = $("input[type=text]");
    input_text.addClass("form-control");

    var input_pass = $("input[type=password]");
    input_pass.addClass("form-control");

    $("form ul li").addClass("btn btn-danger");

    // var labels = $("label");

    // labels.addClass("col");
    // input_text.addClass("col")
    // input_pass.addClass("col");
</script>
{% endblock %}