{% extends 'base.html' %}

{% block stylecontent %}
<style>
  body {
    background-color: aliceblue;
    
  }

  h2{
    text-align:center;
  }
  li{
    color:grey;
  }
  .btn:hover{
    color:grey;
    background-color:black;

  }
</style>
{% endblock %}

{% block bodycontent %}


 <h2 >HOME PAGE</h2>




  {% block scriptcontent %}
  {% comment %} <script>
    $('.active').removeClass('active')
    $('#nav-login').addClass('active')
    $('input').addClass('form-control')
  </script> {% endcomment %}
  {% endblock %}
</body>
{% endblock %}