<body>

    {% extends 'base1.html' %}

    {% block stylecontent %}
    <style>
        body {
            background-color: aliceblue;
        }

        h2 {
            font-family: 'Slabo 27px';
            border-bottom: 1px solid black;
            font-weight: 900;
        }

        #page_name {
            font-size: 25;
        }

        #details_box {
            font-size: 23;
            top: 50px;
            left: 30px;
        }

        #details_table {
            font-size: 20;
            position: relative;
            align-items: center;
        }

        #edit_details {
            top: 10px;
            left: 20px;
        }

        #edit_button {
            border: none;
            color: black;
            padding: 5px 7px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 1px;
            cursor: pointer;
        }

        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
    </style>
    {%endblock%}

    {% block bodycontent %}
    {% csrf_token %}
    {% if user.is_authenticated %}
    <form style="" name="acc_management" id="acc_management" action="process_account_action">
        <input type="hidden" name="account_action" id="account_action">
        <table class="center">
            {% comment %} <tr>
                <td>

                    <div id="page_name" style="text-align:center">
                        <font color="#3399ff">Welcome {{ customer.customer_data.Name }}!</font>
                    </div>
                </td>

            </tr> {% endcomment %}



            <tr>
                <td>
                    <div id="details_box" align="center">
                        <h2>Account Details :</h2>
                        <table id="details_table" cellpadding=5px;>
                            <tr>
                                <td>Customer Name: {{ customer.customer_data.Name }}</td>

                            </tr>
                            <tr>
                                <td>Branch-ID: <span id="branch-id">AF600_ElectronicCity</span> </td>
                            </tr>
                            {% if accounts %}
                            {% for accno, acc_obj in accounts.items %}
                            <tr>
                                <td>Account number : {{ accno }}</td>
                            </tr>
                            <tr>
                                <td>Balance: {{ acc_obj.account_details.Balance }}</td>

                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td> New Customer. No accounts yet. </td>
                            </tr>
                            {% endif %}
                            {% comment %} <tr>
                                <td>
                                    <div class="mine" style="">
                                        <button onclick="set_account_action('create')"> Create New Account </button>
                                        <br>
                                        Close Account?
                                        <input name="close_accno" id="close_accno">
                                        <button onclick="set_account_action('close');check_valid_accno()" type="button">
                                            Close Account </button>
                                        <!-- Setting button type = "button" so that form does not submit on button click -->
                                        <span id="err_msg"> <b> </b> </span>
                                    </div>
                                </td>
                            </tr> {% endcomment %}

                        </table>
                    </div>
                </td>
            </tr>
        </table>

        {% else %}
        <p>Welcome, new user. Please log in.</p>
        {% endif %}
    </form>
    {% endblock%}

</body>