{% extends 'base1.html' %}

{% load static %}

{% block stylecontent %}
<style>
    body {
        background-color: aliceblue;
    }

    h2 {
        font-family: 'Slabo 27px';
        border-bottom: 1px solid black;
        font-weight: 900;
    }

    #page_name {
        font-size: 25;
    }

    #details_box {
        font-size: 23;
        top: 50px;
        left: 30px;
    }

    #details_table {
        font-size: 20;
        position: relative;
        align-items: center;
    }

    #edit_details {
        top: 10px;
        left: 20px;
    }

    #edit_button {
        border: none;
        color: black;
        padding: 5px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 2px 1px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block bodycontent %}

<body>

    <table class="container w-75" width=100% height=60% align="centre">
        <tr>

            <td>
                <div id="page_name" style="float:left;">
                    <font color="#3399ff">Transfer</font>
                </div>
            </td>

            <td></td>

            <td>
                <div id="edit_details" style="float:right;">
                    <button type="button" id="edit_button"><a href="{% url 'profiles:dashboard' %}">Home</a></button>
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div style="float:left;"></div>
            </td>
            <td>
                <div style="float:left;"></div>
            </td>


            <td>

                <div style="float:right;padding-left:19%" class="container" id="details_box">
                    <form name="transfer_details" action="money_transfer" method="POST">
                        {% csrf_token %}
                        <table id="details_table" cellpadding=5px;>

                            <tr>
                                <td>To account :</td>
                                <td><input type="text" name="accc_no" placeholder=" Account number"></td>
                            </tr>
                            <tr>
                                <td> From account :</td>
                                <td><input value={{ acccno }} type="text" name="acc_no" placeholder="Account number">
                                </td>
                            </tr>
                            <tr>
                                <td>Amount to be transferred :</td>
                                <td><input type="text" name="amount" placeholder="Amount"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="Submit" value="Send"></td>
                            </tr>
                            <tr>
                                <td><span>{{msg|safe}}</span></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>

</body>
{%endblock%}