<body>
    {% extends 'base1.html' %}
    {% load static %}

    {% block stylecontent %}
    <style>
        body {
            background-color: aliceblue;
        }

        h2 {
            font-family: 'Slabo 27px';
            border-bottom: 1px solid black;
            font-weight: 900;
        }

        #page_name {
            font-size: 25;
        }

        #details_box {
            font-size: 23;
            top: 50px;
            left: 30px;
        }

        #details_table {
            font-size: 20;
            position: relative;
            align-items: center;
        }

        #buttons_table {
            font-size: 25;
            border: 1px solid black;
            border-radius: 10px;
            align-items: center;
        }

        #buttons_box {}

        #buttons {
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: #33adff;
            height: 40px;
            width: 250px;
        }

        #buttons:hover {
            background-color: #D0D0D0;
        }


        #edit_details {
            top: 10px;
            left: 20px;
        }

        #edit_button {
            border: none;
            color: black;
            padding: 5px 7px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 1px;
            cursor: pointer;
        }

        .depo {
            border: 3px solid green;
        }

        .center {
            margin: auto;
            width: 50%;

            padding: 10px;
        }
    </style>

    {%endblock%}

    {% block bodycontent %}
    <div>

        <div>
            <h2 style="text-align:center">Dashboard
            </h2>
        </div>

<br>
        <table class=" center">
        
            <tr>
                <td>
                    <div id="details_box" align="center">
                        <h2>User Details: </h2>
                        <table id="details_table" class="table-borderless" cellpadding=5px; style="text-align:center;">
                            <tr>
                                <td><b>Username : </b>{{ customer.customer_data.Name }} </td>
                            </tr>


                            <tr>
                                <td><b>Phone : </b>{{customer.customer_data.Phone_no}}</td>
                            </tr>
                            <tr>
                                <td><b> Email : </b>{{customer.customer_data.Email}}</td>
                            </tr>
                            {% comment %} <tr>
                                <td><b>Phone no.: </b>{{customer.customer_data.Phone_no}}</td>
                            </tr>
                            <tr>
                                <td><b>Phone no.: </b>{{customer.customer_data.Phone_no}}</td>
                            </tr>
                            <tr>
                                <td><b>Phone no.: </b>{{customer.customer_data.Phone_no}}</td>
                            </tr>
                            <tr>
                                <td><b>Phone no.: </b>{{customer.customer_data.Phone_no}}</td>
                            </tr>
                            <tr>
                                <td><b>Phone no.: </b>{{customer.customer_data.Phone_no}}</td>
                            </tr> {% endcomment %}

                        </table>
                    </div>
                </td>
                <td>

                    <form class="center" name="dashboard" action="redirect_from_dashboard">
                        <input type="hidden" name="function_chosen" id="function_chosen">
                        <div id="buttons_box">

                            <table class="center" id="buttons_table" cellpadding=5px;>
                                <tr>
                                    <h2 style="text-align:center">Services </h2>
                                </tr>
                                <tr>
                                    <td><button id="buttons" class="button"
                                            onclick="set_function_chosen('view_accounts')">View Balance</button></td>
                                </tr>
                                <tr>
                                    <td><button id="buttons" onclick="set_function_chosen('money_transfer')"> Transfer
                                            Within
                                            Bank </button></td>
                                </tr>
                                <tr>
                                    <td><button id="buttons" onclick="set_function_chosen('withdraw')"> Withdraw Money
                                        </button></td>
                                </tr>
                                <tr>
                                    <td><button id="buttons" onclick="set_function_chosen('deposit')"> Deposit Money
                                        </button></td>
                                </tr>
                                <tr>
                                    <td><button id="buttons" onclick="set_function_chosen('stat_gen')"> Transaction
                                            History </button></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </td>
            </tr>
        </table>

        <script>
            function set_function_chosen(menu_name) {
                hidden_field = document.getElementById("function_chosen");
                hidden_field.setAttribute("value", menu_name);
            }
        </script>
        {% endblock%}
</body>